{% extends 'shop/base.html' %}
{% load static %} 
{% block title%}SignUp{% endblock %}
{% block body %}

{% if email_sent %}
<div class="alert alert-success alert-dismissible show" role="alert">
  Please <strong>verify your email address</strong>. Further instructions has been sent to your mail.
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
{% elif email_verified%}
<div class="alert alert-success alert-dismissible show" role="alert">
  <strong>Thank you </strong>for your email confirmation. Now you can login your account.
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
{% elif invalid_link %}
<div class="alert alert-danger alert-dismissible show" role="alert">
  <strong>Sorry </strong>link is invalid. Please try again.
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
{% endif %}


{% if messages %}
  <div id="message">
      {% for message in messages %}
      <div class="alert alert-danger alert-dismissible show" role="alert">
        {{ message }}
        <button type="button" class="close {{message}}" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      {% endfor %}
  </div>
{% endif %}


<h4 style="text-align:center;"><span>Register Yourself</span></h4>
<section class="main-content">
	<div class="row">
		<div class="span12">
			<form method="post" action="{% url 'accounts:signup' %}"> {% csrf_token %}
				<div class="accordion" id="accordion2">
					<div class="accordion-group">
						<div class="accordion-heading">
							<a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseTwo">Fill your details here</a>
						</div>
						<div id="collapseTwo" class="accordion-body collapse">
							<div class="accordion-inner">
								<div class="row-fluid">
									<div class="span6">
										<h4>Your Personal Details</h4>
										<div class="control-group">
											<label class="control-label">First Name</label>
											<div class="controls">
												<input type="text" name="fname" placeholder="" class="input-xlarge" required>
											</div>
										</div>
										<div class="control-group">
											<label class="control-label">Last Name</label>
											<div class="controls">
												<input type="text" name="lname" placeholder="" class="input-xlarge">
											</div>
										</div>
										<div class="control-group">
											<label class="control-label" >Mobile No.</label>
											<div class="controls">
												<input type="text" name="mobno"  placeholder="" class="input-xlarge"  required>
											</div>
										</div>
                    <div class="control-group">
											<label class="control-label"><span class="required">*</span> Address </label>
											<div class="controls">
												<input type="text"  name="address"  placeholder="" class="input-xlarge" required>
											</div>
										</div>
										<div class="control-group">
											<label class="control-label"><span class="required">*</span> City:</label>
											<div class="controls">
												<input type="text" name="city" placeholder="" class="input-xlarge" required>
											</div>
										</div>
										<div class="control-group">
											<label class="control-label"><span class="required">*</span> Post Code:</label>
											<div class="controls">
												<input type="text" name="zip_code" placeholder="" class="input-xlarge" required>
											</div>
										</div>
                    <div class="control-group">
											<label class="control-label"><span class="required">*</span> Region / State:</label>
											<div class="controls">
												<input type="text" name="state" placeholder="" class="input-xlarge" required>
											</div>
										</div>

										

									</div>
									<div class="span6">
										<h4>Your Account Details</h4>
                    <hr>
                    <h5>Username</h5>
                    <small style="">
                      <ul>
                        <li>Required. 150 characters or fewer.</li>
                        <li>Letters, digits and @/./+/-/_ only.</li>
                      </ul>
                    </small>
                    <h5>Password</h5>
                    <small style="">
                      <ul>
                        <li>Your password can’t be too similar to your other personal information.</li>
                        <li>Your password must contain at least 8 characters.</li>
                        <li>Your password can’t be a commonly used password.</li>
                        <li>Your password can’t be entirely numeric.</li>
                      </ul>
                    </small>

                    <div class="control-group">
											<label class="control-label"><span class="required">*</span>Username</label>
											<div class="controls">
												<input type="text" name="username" placeholder="" class="input-xlarge" required>
											</div>
										</div>

										<div class="control-group">
											<label class="control-label"><span class="required">*</span>Email Address</label>
											<div class="controls">
												<input type="text" name="email" placeholder="" class="input-xlarge" required>
											</div>
										</div>

                    <div class="control-group">
											<label class="control-label"><span class="required">*</span>Password</label>
											<div class="controls">
												<input type="password" name="password1" placeholder="" class="input-xlarge" required>
											</div>
										</div>

                    <div class="control-group">
											<label class="control-label"><span class="required">*</span>Password Confirmation</label>
											<div class="controls">
												<input type="password" name="password2" placeholder="" class="input-xlarge" required>
											</div>
										</div>

                    <Button class="text-light mt-3 input-xlarge"  style="background-color: #ff6a29;  border-radius:1cm;" type="submit">SignUp</Button>
                    <p style="margin-top:5px">
                      Already have an account ?<a href="#" data-toggle="modal" data-target="#loginModal"> Login here </a>
                    </p>
										
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</form>
		</div>
	</div>
</section>

{% endblock body %}

{% block js %} 
  <script>
    $(document).ready(function () 
    {
      setTimeout(dismissAllAlert, 9000);
      function dismissAllAlert()
      {
        allAlerts = document.getElementsByClassName('close');
        let i =0, n = allAlerts.length;
        for(i = 0;i<n;i++)
        {
          console.log(allAlerts);
          allAlerts[0].click();
        }
      }
    });
  </script>
{% endblock %}

