{% load static %}
<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>{% block title%} {% endblock %}</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta name="description" content="">
		<!--[if ie]><meta content='IE=8' http-equiv='X-UA-Compatible'/><![endif]-->
		<!-- bootstrap -->
		<link href="{% static 'shop/bootstrap//css/bootstrap.min.css' %}" rel="stylesheet">
		<link href="{% static 'shop/bootstrap//css/bootstrap-responsive.min.css' %}" rel="stylesheet">
		<link href="{% static 'shop/themes/css/bootstrappage.css' %}" rel="stylesheet" />

		<!-- global styles -->
		<link href="{% static 'shop/themes/css/flexslider.css' %}" rel="stylesheet" />
		<link href="{% static 'shop/themes/css/main.css' %}" rel="stylesheet" />
		<link href="{% static 'shop/themes/css/jquery.fancybox.css' %}" rel="stylesheet"/>
		<link href="{% static 'accounts/css/login.css' %}" rel="stylesheet"/>
    	<link href="{% static 'accounts/css/sign_up.css' %}" rel="stylesheet"/>
		<link rel="icon" type="image/png" href="{% static 'shop/themes/images/favicon.ico' %}">
		<!-- scripts -->

		

		<script src="{% static 'shop/themes/js/jquery-1.7.2.min.js' %}"></script>
		<script src="{% static 'shop/bootstrap//js/bootstrap.min.js' %}"></script>
		<script src="{% static 'shop/themes/js/superfish.js' %}"></script>
		<script src="{% static 'shop/themes/js/common.js' %}"></script>
		<script src="{% static 'shop/themes/js/jquery.scrolltotop.js' %}"></script>
		<script src="{% static 'shop/themes/js/jquery.fancybox.js' %}"></script>
		 
		
		<!-- Additional CSS	-->
		<style>  {% block css %} {% endblock %}  </style>
	</head>

<body>
	<!-- Navbar Start -->
	<div id="top-bar" class="container">
		<div id="alert" style="position:fixed; width:77%;" ></div>
		<div class="row">
			<div class="span4">
				<form action="/shop" method="GET" class="search_form" style=" display: inline-flex;">
					<input type="text" class="input-block-level search-query" style="color: black;" name="query" Placeholder="eg. T-sirt">
					<button class="navbar-toggler" type="submit" style="border: 0px;
    	background-color: white;"><img src="/media/shop/themes/images/search.png" style="width:30px;"
						class="site_logo" alt=""></a></button>
				</form>
			</div>
			<div class="span8">
				<div class="account pull-right">
					<ul class="user-menu">
						<li><a href="{% url 'shop:shop' %}">Home</a></li>
						{% if user.is_authenticated %}
							<li><a href="{% url 'shop:cart' %}">Your Cart</a></li>
							<li><a href="{% url 'shop:checkout' %}">Checkout</a></li>
							<li><a href="{% url 'shop:track' %}">Track Order</a></li>
							<li><a href="{% url 'shop:contact' %}">Contact us</a></li>
							<li><a href="{% url 'accounts:logout' %}">Log out</a></li>
						{% else %}
							<li><a href="#" id="loginBtn" data-toggle="modal" data-target="#loginModal">Login</a>
							<li><a href="{% url 'accounts:signup' %}">Sign in</a></li>
						{% endif %}
						
					</ul>
				</div>
			</div>
		</div>
	</div>
	<!-- Navbar End -->

	<div id="wrapper" class="container">
		<section class="navbar main-menu">
			<div class="navbar-inner main-menu">
				<a href="/shop" class="logo pull-left"><img src="/media/shop/themes/images/logo1.png" style="width:150px;"
						class="site_logo" alt=""></a>
			</div>
		</section>
		{% block slider %}
		<section class="homepage-slider" id="home-slider">
			<div class="flexslider">
				<ul class="slides">
					<li>
						<img src="/media/shop/themes/images/carousel/banner-1.jpg" alt="" />
					</li>
					<li>
						<img src="/media/shop/themes/images/carousel/banner-2.jpg" alt="" />
					</li>
					<div class="intro">
								<h1>Explore</h1>
								<p><span>Explore your true style</span></p>
							</div>
				</ul>
			</div>
		</section> 
		{% endblock %}
		<section class="header_text">

		</section>

			<!-- Modal Start -->
		<div class="container">
          <!-- Login Modal -->
			<div class="modal fade" id="loginModal" tabindex="-1" role="dialog" aria-labelledby="loginModalTitle" aria-hidden="true">
				<div class="modal-dialog modal-dialog-centered" role="document">
					<div class="modal-content">
                    	<form id="Regform" action="{% url 'accounts:login' %}?next={% firstof request.path 'shop:shop' %}" method="POST" class="">
						{% comment %} <a href="{% url auth_login %}?next={% firstof request.path '/' %}">Login</a> {% endcomment %}
                          <div class="form-group">
                            {% csrf_token %}
                            {% if messages %}
                            <div id="message">
                              {% for message in messages %}
								<div class="alert {% if message.tags %}alert-{{ message.tags }} alert-dismissible show" {% endif %} role="alert">
									<strong>{{message}}</strong> 
									<button type="button" class="close" data-dismiss="alert" aria-label="Close">
										<span aria-hidden="true">&times;</span>
									</button>
								</div>
                                {% comment %} <div {% if message.tags %} class="alert alert-{{ message.tags }}" {% endif %}>{{ message }}</div> {% endcomment %}
                              {% endfor %}
                            </div>
                            {% endif %}
                            
                            <div class="form-group">
                                <label for="username">Username</label>
                                <input type="text" name="username" class="form-control modal-input" id="username" required />
                            </div>

                            <div class="form-group">
                                <label for="password">Password</label>
                                <input type="password" class="form-control modal-input" name="password" id="password" placeholder="Enter Password">
                            </div>
                            <button type="submit" style="background-color: rgba(14, 56, 84, 0.79); width:100%; border-radius:1cm;" class="text-light mt-8">Login</button>
							
                            <div class="form-group pt-3 mt-5">
                              <p class="font-weight-lighter text-center" style="margin-top:3px; margin-bottom:1px;">
                                Don't have an account? 
                                <span class="text-dark font-weight-bold">Register</span> <a href="{%url 'accounts:signup' %}">here</a>
                              </p>
                              <p class="font-weight-lighter text-center">
                                <a href="#" data-toggle="modal" data-target="#passwdResetModal"> Forgot Password ?</a>
                                <!-- <a href="{% url 'accounts:password_reset' %}" class="text-dark font-weight-bold">Forgot Password ?</a> -->
                                
                              </p>
                            </div>
                          </div>
                        </form>
                    </div>
                </div>
            </div>
        

        	<!-- Password Reset Modal -->
			<div class="modal fade" id="passwdResetModal" tabindex="-1" role="dialog" aria-labelledby="loginModalTitle" aria-hidden="true">
				<div class="modal-dialog modal-dialog-centered" role="document">
					<div class="modal-content">
						<form id="resetform" action="{% url 'accounts:password_reset' %}" method="POST" class="">
								{% csrf_token %} 
							<div class="form-group">
								<label for="email">Email</label>
								<input type="email" name="email" autocomplete="email" maxlength="254" class="form-control modal-input" required />
							</div>
							<button type="submit" style="background-color: rgba(14, 56, 84, 0.79); width:100%; border-radius:1cm;" class="text-light mt-3">Reset</button>
						</form>
						<p class="font-weight-lighter text-center">
							Don't have an account? 
							<span class="text-dark font-weight-bold">Register</span> <a href="{%url 'accounts:signup' %}">here</a>
						</p>
						<p class="font-weight-lighter text-center">
							Already have an account?
							<span class="text-dark font-weight-bold">Login</span> <a href="{%url 'accounts:signup' %}">
							<a href="#" data-toggle="modal" data-target="#passwdResetModal">here</a>
							</a>
							
						</p>
					</div>
				</div>
			</div>
    	</div>
			<!-- Modal End -->
		<section>
		{% block body %}

				<br>
				<br>
				<br>
				<br>
				<br>
				<br>
				<br>
				<br>
				<br>
				<br>
				<br>
				<br>
				<br>
		{% endblock %}


		</section>

		<!-- Footer Start -->
		<section id="footer-bar">
			<div class="row">
				<div class="span3">
					<h4>Navigation</h4>
					<ul class="nav">
						<li><a href="{% url 'shop:shop' %}">Homepage</a></li>
						<li><a href="#">About Us</a></li>
						<li><a href="{% url 'shop:contact' %}">Contac Us</a></li>
						{% if user.is_authenticated %}
						<li><a href="{% url 'shop:cart' %}">Your Cart</a></li>
						<li><a href="{% url 'shop:track' %}">Track Order</a></li>
						{% endif %}
					</ul>
				</div>

				<div class="span5">
					<p class="logo"><img src="/media/shop/themes/images/logo.png" class="site_logo" alt=""></p>
					<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. the Lorem Ipsum has
						been the industry's standard dummy text ever since the you.</p>
					<br />
					<span class="social_icons">

					</span>
				</div>
			</div>
		</section>
		<!-- Footer End -->
	</div>
	{% csrf_token %}
	<script src="{% static '/shop/themes/js/common.js' %}"></script>
	<script src="{% static 'shop/themes/js/jquery.flexslider-min.js' %}"></script>
	<script type="text/javascript">

		// For craousel
		$(function () {
					$(document).ready(function () {
						$('.flexslider').flexslider({
							animation: "fade",
							slideshowSpeed: 4000,
							animationSpeed: 600,
							controlNav: false,
							directionNav: true,
							controlsContainer: ".flex-container" // the container that holds the flexslider
						});
					});
				});


		// Return the quantity of given prouct id with that size and color
		// after fetching from database
		async function checkdb(id, size, color)
		{
			id = id.slice(2);
			var csrftoken = jQuery("[name=csrfmiddlewaretoken]").val();
			let type = size + color;
			let url = '{% url 'shop:checkdb' %}';
			let data = JSON.stringify({"id": parseInt(id), "type": type });
			let params = {
				method: 'POST',
				body: data,
				headers: { 'Accept': 'application/json, text/plain',
					'Content-Type': 'application/json',
					"X-CSRFToken": csrftoken },
				}

			await fetch(url, params).then(response => response.json()).then(data => {qnty=data; return qnty;} );
			return qnty;
		}

		async function updatecart(items_json)
		{
			var csrftoken = jQuery("[name=csrfmiddlewaretoken]").val();
			let url = '{% url 'shop:cartupdate' %}';
			items_json = JSON.stringify(items_json);
			let params = {
				method: 'POST',
				body: items_json,
				headers: { 'Accept': 'application/json, text/plain',
					'Content-Type': 'application/json',
					"X-CSRFToken": csrftoken },
				}

			await fetch(url, params).then(response => response.json()).then(data => {res=data; return res;} );
			return res;
		}

		$(document).ready(function () {
			loginBtn = document.getElementById("loginBtn");
			{% if messages and user_login %}
				loginBtn.click()
			{% endif %}
		});
	</script>


	{% block js %}
	{% endblock %}


</body>

</html>