{% extends 'shop/base.html' %}
{% block title%} My Awesome Cart Tracker{% endblock %}
{% block body %}
<div class="container">

    <div class="col my-4">

        <h2>Payment status regarding your order Id {{response.ORDERID}}</h2>
        {% if response.RESPCODE == '01' %}
        <div class="alert alert-success">
            Thanks for ordering with us. 
        </div>
        
        <a type="button" href="{% url 'shop:receipt' response.ORDERID %}" class="btn btn-primary" target="_blank">Get receipt</a>
        {% else %}
        <div class="p-3 mb-2 bg-gradient-danger text-white">
        ORDER FAILURE<br>
        {{ response.RESPMSG }}
        </div>
        
        {% endif%}

    </div>

</div>
{% endblock %}
{% block js %}
<script>
    
    {% if response.RESPCODE == '01' %}
	cart = {}; // if order is successful clear cart
	updatecart(cart).then((res) =>{ })
	.catch((err) =>{ console.log(err); });
	{% endif %}


</script>
{% endblock %}