{% extends 'shop/base.html' %}
{% block title%}Product Details{% endblock %}
{% block body %}
<h4 style="text-align:center"><span>Product Detail</span></h4>
<section class="main-content">


	<div class="row">
					<div class="span9">
						<div class="row">
							<div class="span4">
								<a href="/media/{{product.image}}" class="thumbnail" data-fancybox-group="group1" title="Description 1"><img id="product_img" src="/media/{{product.image}}"></a>
								<ul class="thumbnails small">
									<li class="span1">
										<a href="/media/{{product.subimg1}}" class="thumbnail" data-fancybox-group="group1" title="Description 2"><img src="/media/{{product.subimg1}}" alt=""></a>
									</li>
									<li class="span1">
										<a href="/media/{{product.subimg2}}" class="thumbnail" data-fancybox-group="group1" title="Description 3"><img src="/media/{{product.subimg2}}" alt=""></a>
									</li>
									<li class="span1">
										<a href="/media/{{product.subimg3}}" class="thumbnail" data-fancybox-group="group1" title="Description 4"><img src="/media/{{product.subimg3}}" alt=""></a>
									</li>
									<li class="span1">
										<a href="/media/{{product.subimg4}}" class="thumbnail" data-fancybox-group="group1" title="Description 5"><img src="/media/{{product.subimg4}}" alt=""></a>
									</li>
								</ul>
							</div>
							<div class="span5">
								<address>
									<strong>Brand:</strong> <span id="product_name">{{product.product_name}}</span><br>
									<strong>Product Code:</strong> <span>Product 14</span><br>
									<strong>Reward Points:</strong> <span>0</span><br>

								</address>
								<h4>Rs <strong id="product_price">{{product.price}}</strong></h4>
							</div>
							<div class="span5">
								<form class="form-inline" id="form" onsubmit="additem('pr{{product.id}}'); return false;">
									<label class="checkbox">
										<select class="custom-select" id="pr{{product.id}}color" required>
										<option value="">Select Color</option>
										<option value="black">Black</option>
										<option value="blue">Blue</option>
									</select>
									</label>
									<br/>
									<label class="checkbox">
									  <select class="custom-select" id="pr{{product.id}}size" required>
										<option value="">Select Size</option>
										<option value="l">Large</option>
										<option value="m">Medium</option>
										<option value="s">Small</option>
									</select>
									</label>
									<p>&nbsp;</p>
									<label>Qty:</label>
									<input type="text" class="span1" id="pr{{product.id}}qnty" value="1">
									<button class="cart btn btn-inverse" id="pr{{product.id}}" type="submit">Add to cart</button>
									<br><br>
									<div class="fb-like" data-href="https://www.pythonanywhere.com/shop/detail/{{product.id}}" data-width="" data-layout="standard" data-action="like" data-size="large" data-share="true"></div>
								</form>
							</div>
						</div>
						<div

						<div class="row">

							<div class="span9">
								<ul class="nav nav-tabs" id="myTab">
									<li class="active"><a href="#home">Description</a></li>
									<li class=""><a href="#profile">Additional Information</a></li>
								</ul>
								<div class="tab-content">
									<div class="tab-pane active" id="home">{{product.desc}}</div>
									<div class="tab-pane" id="profile">
										<table class="table table-striped shop_attributes">
											<tbody>
												<tr class="">
													<th>Size</th>
													<td>Large, Medium, Small </td>
												</tr>
												<tr class="alt">
													<th>Colour</th>
													<td>Blue, Black</td>
												</tr>
											</tbody>
										</table>
									</div>
								</div>
							</div>

						</div>
					</div>
				</div>
			</section>

{% endblock %}
{% block js %}
<script async defer crossorigin="anonymous" src="https://connect.facebook.net/en_GB/sdk.js#xfbml=1&version=v6.0"></script>
<script>

// Display image seperately after tapping
$(function () {
				$('#myTab a:first').tab('show');
				$('#myTab a').click(function (e) {
					e.preventDefault();
					$(this).tab('show');
				})
			})
			$(document).ready(function() {
				$('.thumbnail').fancybox({
					openEffect  : 'none',
					closeEffect : 'none'
				});

				$('#myCarousel-2').carousel({
                    interval: 2500
                });
			});
</script>

<script>

// Utility function required to generate parameters
function complete_word(word){
	if(word == 's') { return 'Small'; }
	else if( word == 'm' ) { return 'Medium'; }
	else if( word == 'l' ) { return 'Large'; }
	else if( word == 'blue' ) { return 'Blue'; }
	else if( word == 'black' ) { return 'Black'; }
}

let qnty = 0;

// Add the item to cart after checking its availability in database
function additem(idstr)
{
	if(localStorage.getItem('cart') == null ){ var cart = {}; }
	else{ cart = JSON.parse(localStorage.getItem('cart')); }


	let product_img = $('#product_img')[0].getAttribute("src");
	let product_name = $('#product_name')[0].innerText;
	let qnty = parseInt($('#' + idstr + 'qnty')[0].value);
	let product_price = parseInt($('#product_price')[0].innerText);
	let size = $('#' + idstr + 'size')[0].value;
	let color = $('#' + idstr + 'color')[0].value;

	//Send post request to database
	checkdb(idstr, size, color).then(qnty_avl =>{
	if(qnty_avl>=qnty)
		{
			id = parseInt(idstr.slice(2))
			idstr = idstr + '-' + size + '-' + color;
			if (cart[idstr] !=undefined)  { cart[idstr][2] = parseInt(cart[idstr][2]) + parseInt(qnty); }
			else  { cart[idstr] = [product_img, product_name, qnty, product_price, complete_word(size), complete_word(color), id, size+color];  }
			localStorage.setItem('cart', JSON.stringify(cart));
			window.location.href = "{% url 'shop:cart' %}"
		}
	else{ alert("Sorry! No more quantity available.");   }
	}
	);

}

</script>
{% endblock %}
