{% extends 'shop/base.html' %}
{% block title%} My Awesome Cart Tracker{% endblock %}
{% block body %}
<div class="container">

    <div class="col my-4">

        <h2>Payment status regarding your order Id {{response.ORDERID}}</h2>
        {% if response.RESPCODE == '01' %}
        ORDER SUCCESS<br>
        <a type="button" href="/shop/receipt/{{response.ORDERID}}" class="btn btn-primary">Get receipt</a>
        {% else %}
        ORDER FAILURE<br>
        {{ response.RESPMSG }}
        {% endif%}

    </div>

</div>
{% endblock %}
{% block js %}
<script>
    cart = JSON.parse(localStorage.getItem('cart'));
    if (cart == null || (Object.keys(cart).length) == 0)
    {
        document.location = "/shop";
    }
    {% if response.RESPCODE == '01' %}
	alert('Thanks for ordering with us. Your order is {{response.ORDERID}}. Use it to track your order using our order tracker');
	localStorage.clear();
	{% endif %}


</script>
{% endblock %}