.for_img_login{
    height: 430px;
  }
  /* .modal-content{
     min-width: max-content !important;
     border-radius: 3rem !important;
  } */
  .btn-forgot{
    margin-top: -10px;
    width: auto;
    padding-right: 0px !important;
  }
  .forgot-link{
    width: 55%;
  }
  
  .main_div_login{
    display: inline-flex;
  }
  
  .txt_policy_conditions_login{
    font-size: smaller;
    width: 40%;
  }
  
  .form_css_login{
    margin-left: 8%;
    margin-right: 5%;
  }

  .form_css_reset
  {
    margin:auto;
    margin-top: 50%;
    margin-bottom: 40%;
  }

  .loginModal{
    margin: 10px;
  }

  #loginModal, #passwdResetModal
  {
    max-width: 350px;
    height: 215px;
    padding:20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
  }
  
  #loginModal .modal-input,  #passwdResetModal .modal-input
  {
    width : 96%;
    border-radius : 1cm;
  }
  
  
  @media (max-width: 992px){
    .disappear_login{
      display: none;
    }

    .form_css_reset
    {
      margin:auto;
      margin-top: 6%;
      margin-bottom: 10%;
    }
  }
  @media (max-width: 520px){
    .form_css{
      margin-left: 0%;
      margin-right: 0%;
    }
  }